.container-fluid {
	max-width: 1170px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
    color: #FFFFFF;
    font: 14px/22px 'Roboto Condensed', sans-serif;
    margin: 0 !important;
}

.top-bar {
	background-color: black;
	height: 40px;
	width: 100%;
}

.bottom-bar {
	background-color: black;
	height: auto;
	width: 100%;
	margin-bottom: 5px;
}

.logo-bar {
	background-color: #004E7F;
	height: 50px;
	width: 100%;
}

.top-phone {
	float: right;
	color: white;
	margin-right: 10px;
	margin-top: 10px;
    font: 14px/22px 'Roboto Condensed', sans-serif;
}

.product-button {
	height: 50px;
	color: white;
	background-color: #E9592F;
}

#logo {
	margin-top: 30px;
	margin-bottom: 5px;
}

#sm-logos {
	margin-bottom: 15px;
}

.header-info {
	color: #EB5824;
	margin-top: 50px;
	font-weight: bold;
	text-align: right;
	line-height: 22px;
    font: 'Roboto Condensed', sans-serif;
}

.copyright {
	color: white;
	margin-left: 5px;
	margin-top: 10px;
	padding-top: 10px;
    font: 14px/22px 'Roboto Condensed', sans-serif;
}

.cc-images {
	margin-top: 8px;
}

.jumbotron {
	position: relative;
	background: url("http://www.matthewflebbe.com/images/bp-21.jpg") no-repeat center center;
	height: 100vh;
	background-size: cover;
}

.lp {
	margin-right: 20px;
}

.img-product {
	border: 1px solid #E8E8E8;
	padding: 10px;
	background-color: white;
	float: left;
	margin-top: 15px;
}

.img-container {
	max-width: 500px;
	float: left;
	margin-right: auto:
	margin-left: auto;
	display: block;
}

.product-info {
	float: right;
	height: auto;
	background-color: white;
	padding: 20px;
	margin-right: 20px;
	max-width: 700px;
	border-radius: 6px;

}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

 #div-product {
 	background-color: white; 
 	border: 1px solid #E8E8E8; 
 	margin-top: 15px; 
 	float: right;

 }

 #div-product-child {
 	margin-top: 10px; 
 	margin-bottom: 10px; 
 	margin-left: -5px; 
 	margin-right: -5px; 
 	padding: 20px;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
}

table {
	font-family: 'Roboto Condensed', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

p>a:hover {
	color: #EB5824;
}

p>a {
	color: #004E7F;
}

a {
	color: #004E7F;
}

#modal-577302:hover {
	color: #EB5824;
}

#modal-577302 {
	color: #004E7F;
}

p>b>a {
	color: #004E7F;
}

p>b>a:hover {
	color: #EB5824;
	text-decoration: underline;
}

th {
	width: 250px;
	background-color: #D8D7D5;
	border: 1px solid #D8D7D5;
}

#bulk {
	border: 1px solid #D8D7D5;
}

#call {
	margin-top: 10px;
	background-color: #EB5824;
	color: white;
	border-radius: 0px;
}

#call:hover {
	background-color: #004E7F;
}