.container-fluid {
	width: 1170px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
    background: #efefef;
    color: #252a2f;
    font: 14px/22px 'Roboto Condensed', sans-serif;
    margin: 0 !important;
}

.top-bar {
	background-color: black;
	height: 40px;
	width: 100%;
}

.top-phone {
	text-align: right;
	color: white;
	margin-right: 10px;
	margin-top: 10px;
    font: 14px/22px 'Roboto Condensed', sans-serif;
}

